
body 
{margin: 0;
    font-family: 'Gowun Batang', 'Malgun Gothic', 'serif' !important;
    background-image: url('배경2.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;}


.top-navbar 
{width: 100%;
    background-color: #3e301c; 
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: space-around; 

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;}


.nav-button 
{color: #ffffff; 
    text-decoration: none; 
    padding: 10px 15px;
    border-radius: 0px;
    transition: background-color 0.3s;
    white-space: nowrap; }


.nav-button:hover 
{text-shadow:    
        0 0 8px rgba(255, 255, 255, 1.0),
        0 0 17px rgba(255, 255, 255, 0.9);}


main 
{padding-top: 60px;
    text-align: center;}


.title 
{position: absolute; 
    top: 24%; 
    left: 32%; 
    transform: translate(-50%, -50%); 
    z-index: 5; }

.title h1 
{font-size: 80px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;}






.center-dropdown2-wrapper 
{position: absolute;
    top: 63%; 
    left: 142px; 
    bottom: auto; 
    transform: none; 
    z-index: 5;}


.center-dropdown-wrapper .dropdown 
{position: relative; 
    display: inline-block;}

.center-nav-item 
{border: 1px solid #cccccc;
    background-color: transparent;
    padding: 10px 20px;
    display: block; 
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0px;
    transition: background-color 0.2s;
    white-space: nowrap;}

.center-nav-item:hover 
{background-color: rgba(255, 255, 255, 0.5);}


.center-dropdown-content 
{ display: none;
    position: absolute;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20; 
    top: 100%;
    left: 0;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px;}


.center-dropdown-content a 
{color: #ffffff;
    padding: 10px 13px;
    text-decoration: none;
    display: block;}

.center-dropdown-content a:hover 
{background-color: #96d040;}

/* 핵심: 마우스를 올리면 내용 보이기 */
.dropdown:hover .center-dropdown-content 
{display: block;}








.animal1-1-image { position: absolute; 
    top: 100px; 
    left: 50px;
    width: 350px;
    height: 350px;}




.animal1-2-image 
{position: absolute; 
    top: 150px; 
    right: 50px;
    width: 550px;}





.text1 
{color: #ffffff;
    position: absolute;
    left: 44%; 
    top: 50%; 
    transform: translate(-50%, -50%);}